.cell {
	background: #ffffff;
	margin:0px;
	padding:0px;
	border: 1px solid black;
}
.active {
	background:#eeeeee;
	border: 2px solid black;
}
.bold {
	/*
	 * Just a dummy class to check if the text is bold or not
	 */
}
.italic {
	/*
	 * Just a dummy class to check if the text is bold or not
	 */
}
.underline {
	/*
	 * Just a dummy class to check if the text is bold or not
	 */
}
.vguide {
	margin:0px;
	padding:0px;
	border:1px solid black;
	background:#dddddd;
	border-radius:0px;
}
